*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
  --nav-height: 4rem;
}
.heading{
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcc013;
}
.heading > h2{
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
  margin: 0;
  padding: 0;
}
.container{
  height: calc(100vh - var(--nav-height));
  overflow: auto;
  width: 100vw ;
  padding: 2rem 0;
}
.controls{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(40, 40, 40, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader-inner {
  width: 60px;
  height: 60px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-text {
  color: #fff;
  font-size: 24px;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}