*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
  --nav-height: 4rem;
}
.heading{
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcc013;
}
.heading > h2{
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
  margin: 0;
  padding: 0;
}
.container{
  height: calc(100vh - var(--nav-height));
  overflow: auto;
  padding: 2rem;
}
.controls{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}